* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --card-bg: #ffffff;
  --text-color: #333333;
  --start-btn-bg: #1db05f;
  --stop-btn-bg: #ef0d36;
  --reset-btn-bg: #eaa800;
}
