.greeting-container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #1e293b;
}

.buttons-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  gap: 2em;
}

.image {
  min-height: 200px;
  max-width: 300px;
}
