.main-container {
  min-height: 100vh;
  background-color: #fdfcfe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  user-select: none;
}

.cash-card {
  background-color: #150b3e;
  color: #d4d2db;
  width: 50%;
  padding: 3em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.user-cnt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.user-logo {
  width: 80px;
  height: 80px;
  background-color: #c7d2fe;
  color: #7c3aed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  font-size: 1.5em;
}

.user-cnt > h1 {
  font-weight: 400;
  color: #d4d2db;
  font-size: 2rem;
}

.balance-cnt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cnt-title {
  font-size: 2em;
  color: #585076;
  font-weight: 500;
}

.balance {
  font-size: 3em;
  font-weight: 600;
}
.currency-type {
  color: #585076;
  font-size: 1.2em;
  font-weight: 600;
}

.withdraw-cnt > p:nth-child(1) {
  font-size: 2.3em;
  font-weight: 600;
  color: #d4d2db;
}

.withdraw-cnt > p:nth-child(2) {
  font-size: 1.5em;
  color: #585076;
  font-weight: 600;
  text-align: center;
}

.denomination-cnt {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.denomination-cnt li {
  flex: 0 1 calc(50% - 1.5em);
  max-width: calc(50% - 1.5em);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@media screen and (orientation: portrait) {
  .cash-card {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .user-cnt {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .cash-card {
    background-color: #150b3e;
    color: #d4d2db;
    width: 95%;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1ch;
  }

  .user-logo {
    width: 60px;
    height: 60px;
  }

  .balance-cnt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .denomination-cnt li {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .button {
    font-size: 1.4em;
  }
}
